<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link type='text/css' rel='stylesheet' th:href="@{/styles/main.css}">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
</head>
<body>
<div class="wrapper">
    <header>
        <div th:replace="~{fragments/navbar :: navbar}"></div>
    </header>

    <main>
        <div class="container m-5">
            <div class="row">
                <div class="col-lg-3">
                    <ul class="list-group list-group-flush list-unstyled">
                        <li>
                            <a class="list-group-item list-group-item-dark list-group-item-action pe-4"
                               href="/product">All products</a>
                        </li>
                    </ul>
                    <ul class="list-group list-group-flush list-unstyled" th:each="category: ${categories}">
                        <li>
                            <a class="list-group-item list-group-item-light list-group-item-action pe-4 fs-6"
                               th:href="@{/product(categoryId=${category.id})}" th:text="${category.title}"></a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-3">
                            <h1>Product List</h1>
                        </div>
                        <div class="col-lg-6">
                            <a class="btn btn-outline-dark me-3" th:href="@{product/new}">Create new product</a>
                            <a class="btn btn-outline-dark me-3" th:href="@{category}">Show categories</a>
                            <a class="btn btn-outline-dark" th:href="@{unit}">Show unit item</a>
                        </div>
                        <div class="col-lg-3">
                            <form th:action="@{/product}" class="d-flex" method="get">
                                <input class="form-control me-2" name="keyword" type="search" placeholder="Search"
                                       aria-label="Search">
                                <button class="btn btn-outline-dark" type="submit">Search</button>
                            </form>
                        </div>
                    </div>

                    <table class="table table-striped fs-6">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="arial__category" th:each="product: ${products}">
                            <td th:text="${product.name}"></td>
                            <td th:text="${product.description}"></td>
                            <td th:text="${product.category.title}"></td>
                            <td style="white-space: nowrap">
                                <a class="btn btn-outline-dark fs-5"
                                   th:href="@{/product/edit/{id}(id=${product.id})}"><i class="bi bi-pencil"></i>
                                    Edit</a>

                                <a class="btn btn-danger fs-5"
                                   th:href="@{/product/delete/{id}(id=${product.id})}"
                                   onclick="return confirm('Are you sure?')"><i class="bi bi-trash3"></i> Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="fs-5 mt-3">
                        <nav aria-label="Page navigation example" th:unless="${totalElements < 6}">
                            <p class="fs-6">Total items: [[${totalElements}]]
                                Page [[${pageNumber}]] of [[${totalPages}]]</p>
                            <ul class="pagination">
                                <li class="page-item">
<!--                                    if all product without categoryId-->
                                    <a class="page-link text-dark" th:if="${pageNumber > 1} and ${param.categoryId != null}"
                                       th:href="@{/product(categoryId=${param.categoryId}, pageNumber=${0}, pageSize=${5})}">
                                        <span th:unless="${pageNumber > 1}"></span>First</a>

                                    <a class="page-link text-dark" th:if="${pageNumber > 1}" th:unless="${param.categoryId != null}"
                                       th:href="@{/product(pageNumber=${0}, pageSize=${5})}">
                                        <span th:unless="${pageNumber > 1}"></span>First</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link text-dark" th:if="${pageNumber > 0} and ${param.categoryId != null}"
                                       th:href="@{/product(categoryId=${param.categoryId}, pageNumber=${pageNumber - 1}, pageSize=${5})}">
                                        <span th:unless="${pageNumber > 1}"></span>Previous</a>

                                    <a class="page-link text-dark" th:if="${pageNumber > 0}" th:unless="${param.categoryId != null}"
                                       th:href="@{/product(pageNumber=${pageNumber - 1}, pageSize=${5})}">
                                        <span th:unless="${pageNumber > 1}"></span>Previous</a>
                                </li>
                                <li class="page-item" th:each="pageNumber: ${#numbers.sequence(1, totalPages)}">
                                    <a class="page-link text-dark" th:if="${param.categoryId != null}"
                                       th:href="@{/product(categoryId=${param.categoryId}, pageNumber=${pageNumber - 1}, pageSize=${5})}">
                                        [[${pageNumber}]]
                                    </a>

                                    <a class="page-link text-dark" th:unless="${param.categoryId != null}"
                                       th:href="@{/product(pageNumber=${pageNumber - 1}, pageSize=${5})}">
                                        [[${pageNumber}]]
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link text-dark" th:if="${pageNumber < totalPages - 1} and ${param.categoryId != null}"
                                       th:href="@{/product(categoryId=${param.categoryId}, pageNumber=${pageNumber + 1}, pageSize=${5})}">
                                        <span th:unless="${pageNumber < totalPages}"></span>Next</a>

                                    <a class="page-link text-dark" th:if="${pageNumber < totalPages - 1}"
                                       th:unless="${param.categoryId != null}"
                                       th:href="@{/product(pageNumber=${pageNumber + 1}, pageSize=${5})}">
                                        <span th:unless="${pageNumber < totalPages}"></span>Next</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link text-dark" th:if="${pageNumber < totalPages} and ${param.categoryId != null}"
                                       th:href="@{/product(categoryId=${param.categoryId}, pageNumber=${totalPages - 1})}">
                                        <span th:unless="${pageNumber < totalPages}"></span>Last</a>

                                    <a class="page-link text-dark" th:if="${pageNumber < totalPages}"
                                       th:unless="${param.categoryId != null}"
                                       th:href="@{/product(pageNumber=${totalPages - 1})}">
                                        <span th:unless="${pageNumber < totalPages}"></span>Last</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
    </main>
    <footer>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>
</body>
</html>