<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
          th:fragment="footer">
    <footer class="bd-footer py-md-2 mt-2 bg-light">
        <div class="container px-3 px-md-3">
            <div class="row">
                <div class="col-sm-5 col-md-6 mb-2 fs-5">
                    <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none fs-3" href="/">
                        <span>Capybara</span>
                    </a>
                    <div>
                        <a class="footer__social_network pe-3" href="#"><img th:src="@{/images/icons/telegram.png}"></a>
                        <a class="footer__social_network" href="#"><img th:src="@{/images/icons/git.png}"></a>
                    </div>
                </div>
                <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0 mt-4 fs-5">
                    <h5>8 (800) 123-45-67</h5>
                    <p class="arial__category fs-6">Working hours from 9 am to 21 pm without breaks and days off</p>
                </div>
            </div>
            <div class="fs-6 text-secondary">COPYRIGHT&copy;Capybara</div>
        </div>
    </footer>
</th:block>