* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: Oswald, Arial, sans-serif;
    font-size: 27px;
    color: #252B42;
    /*background: linear-gradient(*/
    /*        rgba(255, 255, 255, 0.7),*/
    /*        rgba(255, 255, 255, 0.7)*/
    /*), url("../images/background/background.JPG") no-repeat fixed center;*/
    /*background-size: contain;*/
}


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 1 auto;
}

.background_image {
    background: linear-gradient(
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.7)
    ), url("../images/background/background.JPG") no-repeat fixed center;
    background-size: 95% 75%;
}

/*nav .nav-item a {*/
/*    background-image: linear-gradient(to right, #feffff, #9498a6);*/
/*    background-repeat: no-repeat;*/
/*    background-size: 0 100%;*/
/*    border-radius: 4px;*/
/*    text-decoration: none;*/
/*    padding: 5px 15px;*/
/*    transition: 0.6s;*/
/*}*/


nav .nav-item a:hover {
    color: #17181e;
    font-size: 28px;
}


.category__logo img {
    width: 50%;
}


.arial__category {
    font-family: 'Arial Narrow', sans-serif;
}

footer {
    flex: 0 0 auto;
}

.footer__social_network img{
    width: 5%;
    height: 6%;
}

#snackbar_success, #snackbar_error {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 30px;
}

#snackbar_error {
    background-color:#cb4a38;
}

#snackbar_success.show, #snackbar_error.show {
    visibility: visible;
    -webkit-animation: fadein 1s, fadeout 1s 2.5s;
    animation: fadein 1s, fadeout 1s 2.5s;
}


@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}
