* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: Oswald, Arial, sans-serif;
    font-size: 27px;
    color: #252B42;
    /*background: linear-gradient(*/
    /*        rgba(255, 255, 255, 0.7),*/
    /*        rgba(255, 255, 255, 0.7)*/
    /*), url("../images/background/background.JPG") no-repeat fixed center;*/
    /*background-size: contain;*/
}


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 1 auto;
}


nav .nav-item a {
    background-image: linear-gradient(to right, #feffff, #9498a6);
    background-repeat: no-repeat;
    background-size: 0 100%;
    border-radius: 4px;
    text-decoration: none;
    padding: 5px 15px;
    transition: 0.6s;
}

nav .nav-item a:hover {
    background-size: 100% 100%;
}

.category__logo img {
    width: 50%;
}


.arial__category {
    font-family: 'Arial Narrow', sans-serif;
}

footer {
    flex: 0 0 auto;
}

.footer__social_network img{
    width: 5%;
    height: 6%;
}
